body {
    background-color: #f8f8f8;
}

.menu a {
    color: blue;
    font: 18px Arial;
    text-decoration: none;
}

.menu a:hover {
    color: #FFF000;
}

.menu a:active {
    color: #FFAE00;
}

.product-info h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.overview-text {
    color: #707070;
    font: 14px;
    font-style: italic;
    line-height: 16px;
}

.details-text {
    color: #484343;
    font: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.no-bullets-list li {
    font: 16px Arial;
    color: #2E3551;
    list-style-image: url('../img/bmo.png');
}

.contacts fieldset {
    width: 20%;
}

.contacts input[type="submit"] {
    width: 203px;
    height: 20px;
}

.contacts input[type="text"],
input[type="tel"] {
    width: 200px;
    height: 20px;
    font: 14px Helvetica;
    color: #3F0740;
    text-transform: capitalize;
}

.product-img {
    border: 5px solid #3F0740;
    width: 300px;
}

.product-img:hover {
    border: none;
    margin: 5px;
}

.contacts input[type="text"]:focus,
input[type="tel"]:focus {
    color: #063839;
    background-color: #A1E8FA;
}

.table-poster-price table {
    border-collapse: collapse;
    width: 150px;
    height: 100px;
}

.table-poster-price td {
    border: 1px solid black;
    height: 25px;
    text-align: center;
}

.text-table-style {
    font-weight: bold;
    font-size: 18px;
    background-color: #E9E8E8;
}

.container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.container header {
    height: 250px;
}

.container nav {
    text-align: right;
}

.footer {
    height: 50px;
    background-color: #CECDCD;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
}

.footer p {
    text-align: right;
    color: #7B7575;
    margin-top: 20px;
    margin-right: 20px;
}

.footer hr {
    margin-top: 0px;
}

.buy-button input:hover {
    background-color: #B47DB5;
    border: 1px solid #60056B;
}

.buy-button input {
    font-weight: bold;
}

.poster-flex {
    flex-grow: 0;
    margin-right: 20px;
}

.flex1pr img {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.flex2 {
    text-align: left;
    margin-right: 50px;
}

.main-h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-link {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.flex-item {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.description a:hover {
    color: #CA0303;
}

.preview img {
    width: 100px;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs > .link {
    text-decoration: none;
}

.breadcrumbs > .separator {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-container-poster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

#active-poster:active {
    color: #FFAE00;
}
